* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a );
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 21px;
    color: #fff;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    border-radius: 31px;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    margin-right: 17px;
    font-size: 19px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 17px;
}

.weather-icon {
    width: 171px;
    margin-top: 31px;
}

.weather h1 {
    font-size: 81px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -11px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    margin-top: 49px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 39px;
    margin-right: 9px;
}

.humidity .wind {
    font-size: 28px;
    margin-top: -7px;    
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 11px;
    font-size: 14px;
    margin-top: 11px;
    display: none;
}